:root {
  --r: -20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
  margin-bottom: 20px;
  border-width: 20px;
  border-style: solid;
  border-color: #f25e53 #8ff08f #699bf9 #ddef78;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conner {
  position: absolute;
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.bottom {
  bottom: var(--r);
}

.cor-1 {
  background-color: rgb(213, 89, 178);
}

.cor-2 {
  background-color: rgb(107, 77, 51);
}
.cor-3 {
  background-color: rgb(213, 89, 178);
}

.cor-4 {
  background-color: rgb(182, 142, 108);
}

.right {
  right: var(--r);
}

.top {
  top: var(--r);
}

.left {
  left: var(--r);
}

.text {
  transform: rotate(-45deg);
}

.inner_text_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;
}

.text .desc {
  display: block;
  font-size: 12px;
}

.andsym {
  color: red;
}
